@import url(reset.css);


html { 

 height:100%;
}
img{
	border:none;
}
body{
	background:#ffffff;
     position:relative; 
    height:auto !important;
     min-height:100%; 
     height:100%; 
}
.clr{
	clear:both;
}
.main{
    margin:0 auto; 
    background:#fff; 
    overflow:hidden;
    padding-bottom: 100px;
    top: -15px;
}

/* шапка */
    .header{
        top: 0;
        overflow:hidden;
        width: 100%;
        height: 52px;
        background:#F49200 url("../images/Figura.png") 160px no-repeat;
        border-bottom: solid 1px #783900;
    }
        .logo, .search-head{
			float:left;
  		}
        .logo{
            margin: 5px 0px 5px 25px;  
        }
        .search-head {
            margin: 15px 0 15px 25px;
            list-style: none;
            background: url("../images/search.png") no-repeat;
            width: 496px;
            height: 24px;
        }
            .search-head li{
                float: left;
            }
        #graytext{
            border: none;
            margin: 5px 0px  0px 5px;
            width: 440px;
            font-size: 10px;
        }
        .serch-btn{
            border: none;
            margin: 1px 0px  0px 0px;
        }
        
    .header2{
        background: #EBEBF8;
        height: auto;
        overflow: hidden;
        width: 100%;
        margin-bottom: 25px;
        }
        .menu {
            list-style: none;
            margin-left: 0px;
        }
            .menu li {
                width: 100%;
                height: 22px;
                text-align: left;
                float : left;
                margin: 0;
                padding: 5px 6px 0 25px;
                border:none;
                border-bottom: 3px solid #EBEBF8;
            }
            .menu li:hover {
                width: 100%;
                height: 22px;
                text-align: left;
                float : left;
                margin: 0;
                padding: 5px 6px 0 25px;
                border:none;
                border-bottom: 3px solid #412C87;
            }
            .menu li:active {
                width: 100%;
                height: 22px;
                background-color: #E2D1FF;
                text-align: left;
                float : left;
                margin: 0;
                padding: 5px 6px 0 25px;
                border:none;
                border-bottom: 3px solid #412C87;
            }
                .menu a li{
                    font: 14px Tahoma,verdana, Arial, Genera,sans-serif; 
                    color: #000000;
                    text-decoration: none;
                }
        .enter{
            float: right;
            font: 10px  Arial,Tahoma,verdana, Genera,sans-serif;
            margin: 9px 31px 7px 100px;
        }
            .enter a{
                    color: #000000;
                
            }
            .enter a:hover{
                    color: #C10101;
                
            }
/* шапка */


/* Контент-гланая */
    
    #contentwrapper{
        width: 100%;
        float:left;   
        min-height: 100%; /* минимальная высота обертки */
        height: auto !important; /* для всех браузеров (можно убрать, если поддержка IE6 не нужна) */
        height: 100%; /* для IE6, т.к. он понимает height, как min-height */
        margin-bottom: -250px;
    }
        #content{            
            
            margin: 0 25px 0 0;
        }
            .products_next{
                text-align: right;
                margin-bottom: 25px;
            }
                .products_next a{
                    padding-right: 25px;
                    color: #7F7F7F;
                }
            .content-header{
                border-bottom: 1px solid #D5D5D5;
            }
                .content-header h1{
                    padding: 0 0 3px 8px;
                    font: 18px  Arial,Tahoma,sans-serif;
                
            }
            /* -- Использовать данный контейнер для выделения колнки с отступами -- */
            
            .catalog-index{    
                    position: relative;
                    overflow: hidden;
                    margin: 5px;
            }
            .grid-wrap {
                  overflow: hidden;
                  clear: both; 
            }        
                    .product-line{
                	overflow:hidden; margin:10px 8px 30px 8px;
                	}
                        .cat-line-more a,.product-name a{
                            font:12px Verdana;
                            color: #000000; 
                        }
                        
                        .cat-line-more a:hover,.product-name a:hover{
                            color: #C10101; 
                        }
                    	.product-line-har{
                    		float:left;
                    		}
                            .product-line-har span{ 
                                font: 12px Verdana,Tahoma,sans-serif;
                                font-weight: bold; 
                                font-size: 14px;    
                        }
                    	.product-line-opis{
                    		font:12px Verdana; 
                            padding:0 0 0 110px;
                            text-align: justify;
                    		}
                    		.product-line-opis h2{
                    			font:12px Verdana; 
                                color:#2b8aba; 
                                margin:0 0 7px 0; 
                                line-height:0.8;
                    			}	
                    .product-index{
                            padding: 8px 8px 30px 8px;
                          float: left;
                          width: 99%;
                          height: 350px;
                          text-align: center;
                          -webkit-box-sizing: border-box;
                          -moz-box-sizing: border-box;
                          box-sizing: border-box;
                          
                    }
                        .info-goods{
                            width: 100%;
                            position:relative;
                        }
                        .product-index img {
                            /*display:block;*/ 
                            top: 0;
                            margin: 0 auto 0;
                        }
                        .product-index p {
                            font: 11px Tahoma,sans-serif; 
                            color: #000;
                            margin: 0 0 8px 0;
                        }
                            .product-index p span{
                                
                                font: 12px Verdana,Tahoma,sans-serif;
                                font-weight: bold; 
                                font-size: 14px;    
                            }
                        .product-index h2{
                            font: 14px Arial,Tahoma,sans-serif;
                            margin: 8px auto;
                        }
                            .product-index h2 a{
                                color: #000;
                                text-decoration: none;
                            }
                            .product-index h2 a:hover {
                                text-decoration: underline;
                                color: #C10101;
                            }
                        
     /* кнопка для контента*/
      .btn_content{
        height: 17px;
        width: 100px;
        margin: 8px auto;
        text-align: center;
        background-color: #22c722;
        font: bold 13px/13px Tahoma,Arial,Sans-serif;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#22c722', endColorstr = '#1db11d');
        /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
        /*Element must have a height (not auto)*/
        /*All filters must be placed together*/
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#22c722', endColorstr = '#1db11d')";
        /*Element must have a height (not auto)*/
        /*All filters must be placed together*/
        background-image: -moz-linear-gradient(top, #22c722, #1db11d);
        background-image: -ms-linear-gradient(top, #22c722, #1db11d);
        background-image: -o-linear-gradient(top, #22c722, #1db11d);
        background-image: -webkit-gradient(linear, center top, center bottom, from(#22c722), to(#1db11d));
        background-image: -webkit-linear-gradient(top, #22c722, #1db11d);
        background-image: linear-gradient(top, #22c722, #1db11d);
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        /*Use "background-clip: padding-box" when using rounded corners to avoid the gradient bleeding through the corners*/
        /*--IE9 WILL PLACE THE FILTER ON TOP OF THE ROUNDED CORNERS--*/
      }
      .btn_content a {
        height: 17px;
        width: 100px;
        text-decoration: none;
        color: #FFFFFF;
        
      }
       /* кнопка для контента*/
                   
/* Контент-главная */
/* Формы */
input[type=text]:focus:valid { outline: 1px #0f0 solid; }
/* Формы */
/* Правая колонка */
    /* Категории */
    #right-bar{
        float: left;
        width: 100%;
        -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
     .right-bar-cont{
        background: #D6F5D6;
        margin: 0 8px 25px 0;
        padding: 15px 15px 21px 15px;
        width: 100%;
        font:14px Tahoma,sans-serif;
        color: #0D4D0D;    
        border: 1px solid #696;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
     }
        .nav-catalog ul{
            padding:3px 0 0 15px;
            list-style:none;
        }
        .nav-catalog li{
			margin:0 0 3px 0;
		}
        .nav-catalog  ul a{
            text-decoration: none;
        }
        .nav-catalog a{
           color: #0D4D0D; 
        }
        .nav-catalog a:hover{
           color: #C10101; 
        }
        .right-bar-cont h2{
            margin-bottom: 21px;
            font-weight: bold;
        }
     /* Категории */
     
     /* Корзина */
     .basket{
        background: #CFCFE8;
        margin: 0 8px 25px 0;
        padding: 15px 15px 21px 15px;
        width: 100%;
        font:14px Tahoma,sans-serif;
        color: #0D0E4D;    
        border: 1px solid #5656A7;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
     }
        .basket h2{
            margin-bottom: 21px;
            font-weight: bold;
        }
        .basket div p{
        }
        .basket div p span{
            color:#C10101;
        }
        .basket div a{
            color:#0D0E4D;
        }
     /* Корзина */
     /* Новости */
     .right-bar-news{
        background: #ffe1ac;
        margin: 0 8px 25px 0;
        padding: 15px 15px 21px 15px;
        width: 100%;
        font:14px Tahoma,sans-serif;
        color: #392606;    
        border: 1px solid #663800;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
     }
        .right-bar-news h2{
            margin-bottom: 21px;
            font-weight: bold;
        }
        .right-bar-news div p{
            margin-top: 8px;
        }
        .right-bar-news div a{
            color:#392606;
        }
        .right-bar-news .btn_right_bar {
           margin-top: 10px; 
           padding: 0 4px 2px 6px;
        }
     /* Новости */
     
     /* кнопка для правой калонки*/
      .btn_right_bar{
        height: 19px;
        width: 94px;
        margin-top: 8px;
        padding: 0 4px 2px 8px;
        background: url("../images/oformit.png") left top no-repeat;
        
      }
      .btn_right_bar a{
        text-decoration: none;
        color: #0D0E4D;
      }
       /* кнопка для правой калонки*/
/* Правая колонка */    
   
 /* футер */   
    .footer{
        width: 100%;
        height: 35px;
        background: #000000;
        overflow:hidden;
        position: absolute;
        bottom: 0;
    }
        .footer p{
            margin: 10px 0 0 25px ;
            color : #8D8D8D;
            font: 14px  Verdana,Arial,sans-serif;
        }
        
/* футер */       
        
 /*		ZAKAZ		*/


#content-zakaz{
	width:100%; 
    margin:8px auto;
}
	#content-zakaz h2{
		text-align:center; 
        font:normal 24px Verdana; 
        margin:20px 0 10px 0;
	}
	.zakaz-maiin-table{
		width:100%; 
        margin:0 0 30px 0;
	}
	.zakaz-maiin-table td{
		padding:10px;
	}
	.z_top{
		background:#fafbfb; 
        border-bottom:1px solid #dee7ec; 
        font:bold 12px Verdana; 
        color:#555;
	}
    .z_top_kol, .z_top_price {
        text-align: center;
    }
	.z_bot{
		background:#fafbfb; 
        border-top:1px solid #dee7ec; 
        font:bold 12px Verdana; 
        color:#555;
	}
	.z_name{
		}	
		.z_name img{
			float:left; 
            margin:0 10px 0 0;
			}	
        .z_name a{
            font:12px Verdana;
            color: #000000; 
        }
        .z_name a:hover{
            color: #C10101; 
        }
		.z_kol, .z_price, .z_del{
			text-align:center;
			}
		.z_kol{
			width:75px;
			}
		.z_price{
			width:80px; font: italic 20px sens-serif,Arial;
			}
        .z_price span{
            font: italic 14px/10px sens-serif,Arial;
        }    
		.z_del{
			width:65px;
			}		
		.kolvo{
			width:48px; height:22px; font:16px Verdana; color:#000; background:#fafafa; border:1px solid #b5b5b5; text-align:center;	
			}
	
	.sposob-dostavki p{
		font-size:12px; font-family:Verdana; margin-top:7px;
		}
	.sposob-dostavki{
		margin:0 0 30px 0;
		}	
	#content-zakaz h4{
		 font:bold 14px Verdana;
	}	
	#content-zakaz h3{
		 font:normal 18px Verdana;
	}
	
	.zakaz-data{
		width:100%; background:#fafafa; margin:10px 0 40px 0;
	}
		.zakaz-data td{
			vertical-align:middle; padding:10px;
		}
	.zakaz-txt{
		font:14px Verdana; color:#555555;
		}
	.zakaz-prim{
		font:12px Verdana; color:#c0c0c0; font-style:italic;
		}	
	.zakaz-inpt{
		}	
		.zakaz-inpt input{
			width:330px; height:28px; border:1px solid #ccc;
			}
		.zakaz-txtarea{	
			padding:10px 10px 20px 10px !important;
			}		
		.zakaz-txtarea textarea{
			width:330px; height:100px; border:1px solid #ccc;
			}
   .z_bot span{
            font: 24px sens-serif,Arial;
        }
/*		ZAKAZ		*/
            
/* Стили для окон ошибка, Досуп */
.error{
    margin-top:5px;
    margin-bottom:100px;
    border:1px solid #765858;
    background:#ffeded !important;
    color:#7f5354 !important;
    padding:3px;
}
.error ul{
    list-style:  disc outside none;
    margin: 20px 0 15px 30px;
}
.success{
    margin-top:5px;
    border:1px solid #adc092;
    background:#f0faf1 !important;
    color:#58715e !important;
    padding:3px;
}
/* Стили для окон ошибка, Досуп */   
/* Постраничная навигация */
.pager{
        		
            }
	.pager a{
		color:#545454; 
        font-size:14px; 
        padding:0 3px;
	}
	.pager a:hover{
		text-decoration:none; 
        color:#7F7F7F;
	}
	.pager img{
		position:relative;
	}

.pagination{
    background:#FAFBFB; 
    border-top:1px solid #ebf1f4; 
    font:15px Verdana, Geneva, sans-serif;
	color:#9F9F9F; 
    padding:10px; 
    margin: 15px auto;
    margin-bottom: 100px;
    text-align: center;
}
a.nav_active{
    color: #fff;
    padding: 5px 7px;
    margin: 0 5px;
    color:#545454; 
    font-size:14px; 
    padding:0 3px;
}
a.nav_link{
    padding: 5px 7px;
    text-decoration: underline;
    margin: 0 5px;
    color: #777;
}
a.nav_link:hover{
    text-decoration:none; 
    color:#7F7F7F;
}
/* Постраничная навигация */

/* Детальный вид */
.catalog-detil{
    font: 14px arial,Verdana,Tahoma,sans-serif;
    padding: 8px;
    margin-bottom: 100px;
    position: relative;
}
    
    .catalog-detil .har-img{
        float: left; 
        margin-left: 4px; 
        margin-right: 14px;
        clear: both;
        border: 3px solid #BFBFBF;
    }
    .catalog-detil .har span{
        font-weight: lighter;
    }
    .catalog-detil .text-detil-goods{
        clear: both;
        padding-top: 10px;
        text-align: justify;
    }
.catalog-detil p {
    font: 14px arial,Verdana,Tahoma,sans-serif; 
    color: #000;
    margin: 0 0 8px 0;
}

    .catalog-detil p span{
        font: 12px Verdana,Tahoma,sans-serif;
        font-weight: bold; 
        font-size: 14px;    
    }
.catalog-detil h2{
    font: 14px Arial,Tahoma,sans-serif;
    margin: 8px auto;
}
    .catalog-detil a{
        color: #000;
        text-decoration: underline;
    }
    .catalog-detil  a:hover {
        text-decoration: underline;
        color: #C10101;
    }

/* Детальный вид */
/* хлебные крошки */
.croshca{
    height: 30px;
    font: 11px Arial,Tahoma,sans-serif;
}
    .croshca a{
        color: #000;
        text-decoration: underline;
    }
    .croshca  a:hover {
        text-decoration: underline;
        color: #C10101;
    }
    .croshca span {
        color:gray;
    }


/* хлебные крошки */
/* вид новости */
.page-news-txt {
margin: 8px 8px 10px 8px;
font: 15px Verdana,sans-serif,Arial,Tahoma;
}
 .news-date{
    width: 60px;
    margin: 4px;
    padding: 1px 3px;
    text-align: center;
    background-color: #C1C1C1;
    font: 11px Arial,Tahoma,sans-serif;
}
.page-news-txt h1{
    font: 15px Arial,Tahoma,sans-serif;
    
}
.page-news-txt{
    padding-bottom: 30px;
}
.page-news-txt p{
    margin-top: 5px;
    text-align: justify;
}
    .page-news-txt a{
        color: #000;
        text-decoration: underline;
    }
    .page-news-txt  a:hover {
        text-decoration: underline;
        color: #C10101;
    }
/* вид новости */
/* Вид сортировки*/
.sort-wrap{
    border: 1px solid gray;
    padding: 5px;
    z-index: 45;
    position: absolute;
    left: 205px;
    top: 35px;
    background-color: #FAFBFB;
    visibility: hidden;
}
.sort-wrap a{
    margin-bottom:  5px;
    display: block;
}
.vid-sort{
	font:12px Verdana; 
    color:#555; 
    margin-top: 8px;
    background:#fafbfb; 
    border-bottom:1px solid #dee7ec; 
    padding:10px 5px 10px 5px; 
    position: relative;
	}
	.vid-sort img{
		margin: 0 2px; 
        position:relative; 
        top:3px;
        padding: 3px;
		}
	.vid-sort a{
		color:#000000;
		}
	.vid-sort a:hover{
		color: #C10101;
		}	
	a.sort-top{
        padding:0 1px; 
        color: #0D0E6A; 
        text-decoration: underline;
        cursor: pointer;		
		}
	a.sort-bot{
		padding:0 0 0 12px;	color: #000000;	
		}
/* Вид сортировки*/

#graytext  { 
    outline: 0px #000 solid; 
    }
.catalog-detil .news-date {
    
    position: relative;
    float:right;
}
/* Адаптация */

  @media only screen and (min-width: 631px) {
  .bp1-col-full {
    width: 100%; }
    
    .bp1-col-one-half {
    width: 50%; 
    text-align:  left;
    }
    #content{            
            margin: 0 280px 100px 25px;
        }
    #right-bar{
        width: 257px;
        margin-left: -257px;
    }
         .right-bar-cont, .basket, .right-bar-news{
        width: 232px;
     }
     .menu {
            list-style: none;
            margin-left: 147px;
        }
     .menu li,.menu li:active, .menu li:hover {
        width: auto;
        padding: 5px 6px 0 6px;
        text-align: center;
    }
    .footer p{
        margin-left: 151px;
    }
    .btn_content{
        margin: 8px 0 8px 0;
    }
    }
    @media only screen and (min-width: 770px) {
  .bp2-col-full {
    width: 100%; }

      .bp2-col-one-third {
    width: 25%; 
    text-align:  left;
    }
}
    @media only screen and (min-width: 1000px) {
  .bp3-col-full {
    width: 100%; }

      .bp3-col-one-third {
    width: 16.65%; 
    text-align:  left;
    }
}
/* Адаптация */
